@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #181818;
}

@font-face {
  font-family: "Tank-bold";
  src: url("/src/assets/fonts/TT\ TANK\ Bold.ttf");
}

@font-face {
  font-family: "Tank-medium";
  src: url("/src/assets/fonts/TT\ TANK\ Medium.ttf");
}

@font-face {
  font-family: Tank-light;
  src: url("/src/assets/fonts/TT\ TANK\ Light.ttf");
}

#online::before {
  content: "";
  background: #00d154;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

