@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #181818;
}

@font-face {
  font-family: "Tank-bold";
  src: url("/src/assets/fonts/TankBold.ttf");
}

@font-face {
  font-family: "Tank-medium";
  src: url("/src/assets/fonts/TankMedium.ttf");
}

@font-face {
  font-family: Tank-light;
  src: url("/src/assets/fonts/TankLight.ttf");
}

#online::before {
  content: "";
  background: #00d154;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
#tank-red-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ff0000;
}
#tank-gray-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #6e6e6e;
}
#tank-orange-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ff4d00;
}
#tank-black-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2f0000;
}

#tank2-bronze-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #836d4f;
}
#tank2-white-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
}
#tank2-black-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
}
#tank2-gray-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #6e6e6e;
}
.active {
  border: 3px solid rgb(255, 255, 255);
}
